	html {
		margin: 0px;
		padding: 0px;
	}
	body {
	color: #2E2E2E;
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 160%;
	}
	/*
	p {
	font: 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
	margin-top: 10px;
	padding:5px;
	text-align: justify;
	}
	*/
	a:link {
	font-weight: bold;
	text-decoration: none;
	color: #0066FF;
	}
	a:visited {
	font-weight: bold;
	text-decoration: underline;
	color: #00F;
	}
	a:hover, a:active {
	text-decoration: underline;
	color: #09F;
	}

	#container {
	padding: 0px;
	margin: 0px;
	border-bottom: dotted 1px;
	height: auto;
	}
	#intro{
		width: 760px;
		position:absolute;
		top:0px;
		left:0px;
	}
	#intro{
	width: 1024px;
	border-right: dotted 1px;
	border-bottom: dotted 1px;
	}
	#pageHeader {
	height: 130px;
	background-color: #F3F3F3;
	border-bottom: dotted 1px;
	margin-left: 197px;
	padding-left: 10px;
	}
	#lower{
	width: inherit;
	height: 1024px;
	}
	#pageHeader h1 {
	margin: 0px;
	width: 760px;
	height: 30px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 5px;
	}
	#pageHeader h1 span {

	}
	#pageHeader h2 {
	width: 760px;
	height: 30px;
	margin: 0px;
	text-align: left;
	}
	#pageHeader h2 span {
	padding-right: 50px;
	padding-left: 5px;
	}
	#quickSummary p.p1{
	margin: 0px;
	margin-left: 0px;
	padding: 10px;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	}
	#quickSummary p.p2{
		margin:0px;
		margin-left: 199px;
		padding: 20px;
		width: 520px;
	}
	#preamble{
		margin-left: 199px;
		padding-left: 20px ;
		padding-right: 20px;
		padding-bottom: 4px;
		width: 520px;
	}
	#supportingText {
	position: absolute;
	top:390px;
	left: 199px;
	width: 560px;
	padding-bottom: 20px;
	}
	#preamble h3, #explanation h3, #participation h3, #benefits h3, #requirements h3{
		margin:20px 0px 10px 0px;
		width:auto;
		height:19px;
	}
	#preamble h3{
	}
	#explanation h3{
	}
	#participation h3{
	}
	#benefits h3, #requirements h3{
	}
	#requirements h3{
	}
	
	#preamble h3 span, #explanation h3 span, #participation h3 span, #benefits h3 span, #requirements h3 span, #lselect h3 span, #lfavorites h3 span, #larchives h3 span, #lresources h3 span{
	padding-left: 0px;
	}
	#preamble p.p3, #explanation p.p2, #participation p.p4, #benefits p.p1, #requirements p.p5 {
		padding-bottom: 20px;
		margin:0px;
	}
	#preamble, #explanation, #participation, #benefits, #requirements {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 4px;
	margin-left: 199px;
	width: auto;
	padding-top: 10px;
	}
	#linkList{
	top: 185px;
	left: 1px;
	width: 187px;
	background-color: #F3F3F3;
	height: inherit;
	float: left;
	border-right: dotted 1px;
	padding-left: 10px;
	font-family: Alegreya, serif;
	font-size: 14px;
	line-height: 100%;
	text-align: left;
	margin-top: 30px;
	}
	#lselect h3{
	padding: 0px;
	margin: 0px;
	height: auto;
	}
	#lfavorites h3, #larchives h3, #lresources h3{
		padding:0px;
		margin:0px;
		width:199px;
		height:21px;
	}
	#lselect h3{
	padding-top: 20px;
	padding-bottom: 10px;
	}
	#lfavorites h3{
	}
	#larchives h3{
	padding-top: 20px;
	}
	#lresources h3{
	}
	#lselect ul, #lfavorites ul, #larchives ul, #lresources ul{
		margin: 0;
		padding: 0;
		margin-top:20px;
		margin-bottom: 20px;
		list-style-type: none;
	}
	
	#lselect li, #lfavorites li, #larchives li, #lresources li
	{
		padding-left: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#lselect a, #lfavorites a
	{
	background: transparent url(bul2.gif) no-repeat 0px 2px;
	display: block;
	}
	#lselect a:hover, #lfavorites a:hover
	{
	background: transparent url(bul1.gif) no-repeat 0px 2px;
	display: block;
	}
	#lselect a.c, #lfavorites a.c
	{
		font: 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
		color: #999;
		font-weight: normal;
		text-decoration:none;
		background: transparent;
		padding-left:0px;
		display:inline;
		}
	#lselect a.c:hover, #lfavorites a.c:hover
	{
		background: transparent;
		padding-left:0px;
		display:inline;
	}
	#footer{
	width: 520px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 4px;
	float: right;
	text-align: right;
	padding-top: 50px;
	}
	#extraDiv1{
	width: 196px;
	height: 217px;
	top: 0px;
	left: 1px;
	position: absolute;
	background: transparent url(me.jpg) no-repeat;
	border-bottom: dotted 1px;
	border-right: dotted 1px;
	}
	
